#mainContainer {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#mainContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1, p {
  color: #01FFFF;
}

.btn {
  background: transparent;
  border: 0.02em solid #01FFFF;
  border-radius: 0.5em;
  margin: 3em;
  padding: 1em;
  color: #01FFFF;
}

.card {
  background-color: #01FFFF;
  height: 33vh;
}